Implementation/ServerClient/Server_Client_30/runs/detect/
Implementation/ServerClient/Server_Client_30F/runs/detect/
Implementation/ServerClient/Server_Client_30N/runs/detect/
Implementation/ServerClient/Server_Client_60/runs/detect/
Implementation/ServerClient/Server_Client_60F/runs/detect/
Implementation/ServerClient/Server_Client_60N/runs/detect/
Implementation/ServerClient/Server_Client_90/runs/detect/
Implementation/ServerClient/Server_Client_90F/runs/detect/
Implementation/ServerClient/Server_Client_90N/runs/detect/
Implementation/ServerClient/Server_Client_None/runs/detect/
Implementation/ServerClient/Server_Client_NoneF/runs/detect/
Implementation/ServerClient/Server_Client_NoneN/runs/detect/
Implementation/ServerClient/Server_Client_Random/runs/detect/
Implementation/ServerClient/Server_Client_RandomF/runs/detect/
Implementation/ServerClient/Server_Client_RandomN/runs/detect/

Implementation/AL-Yolov8/nuimages-all-samples/
Implementation/AL-Yolov8/runs/detect/

Papers/

*.pt